* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

:root {
  --black: #080808;
  --white: #fefefe;
  --grey: rgba(120, 118, 118);
  --light-light-grey: rgba(120, 118, 118, 0.2);

  --teal: #008080;
  --red: #d30000;
}

html {
  background-color: var(--white);
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--black);
  height: 100%;
}

.box {
  display: grid;
  width: 50%;
  margin: 50px auto;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  align-content: space-evenly;
  border: 1px solid var(--black);
}

.tile {
  padding: 20px;
  text-align: center;
  display: inline-block;
  background-color: var(--white);
  border: 1px solid var(--black);
  font-size: 1em;
}

.tile:hover {
  background-color: var(--light-light-grey);
}

.flipped {
  background-color: var(--teal);
  color: var(--teal);
}

.flipped:hover {
  background-color: var(--teal);
  color: var(--teal);
}

.dice {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid var(--black);
  max-width: 60%;
  height: 150px;
  margin: 50px auto;
}

.die {
  border: 1px solid var(--black);
  border-radius: 10%;
  height: 75px;
  width: 75px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}

.die-point {
  text-align: center;
}

.off {
  color: var(--white);
}

.play {
  text-align: center;
}

#roll {
  border: 1px solid var(--black);
  padding: 10px 20px;
  background-color: var(--light-light-grey);
}

#roll:hover {
  background-color: var(--white);
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--grey);
  width: 100%;
  height: 100%;
  opacity: .8;
  z-index: 100;
}

.popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--white);
  width: 300px;
  height: 150px;
  margin-left: -150px;
  margin-top: -150px;
  z-index: 200;
  text-align: center;
}

.end-text {
  margin: 20px;
  text-align: center;
  color: var(--red);
}

.end-btn {
  border: 1px solid var(--black);
  padding: 10px 20px;
  background-color: var(--light-light-grey);
}